<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Habit Editor{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="{{url_for('habits.edit',habit_id=habit_obj['id'])}}">
    <div>
      <label for="habit_name">
        タスク名
      </label><br>
      <input type="text" name="habit_name" value="{{habit_obj['habit_name']}}" id="taskName">
    </div>
    <div>
      <label>
        繰り返しの間隔<br>
        <input type="number" name="repeat_interval" min="1" max="31" value="{{habit_obj['repeat_interval']}}">
      </label>
    </div>
    <div>
      <input type="checkbox" id="toggle" name="is_end" {% if habit_obj['is_end']==1 %}checked{% endif %}>
      <label for="toggle">
        終了予定を設定
      </label>
      <div class="detail">
        <label>
          <input type="date" name="habitEndDate" value="{{habit_obj['end_date']}}">
        </label>
      </div>
    </div>
    <button type="submit" name="action" value="cancel">cancel</button>
    <button type="submit" name="action" value="save">save</button>
    <button type="submit" name="action" value="delete">delete</button>
  </form>
{% endblock %}