<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Habits List{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" action="{{url_for('habits.list')}}">
    <h2>Habits</h2>
    <button type="submit" name="action" value="add">追加</button>
      {% for habit in habits %}
      <a href="{{url_for('habits.edit',habit_id=habit.id)}}">
        <div class="card">
          {{habit['habit_name']}}
        </div>
      </a>
      {% else %}
      <li>登録されている習慣はまだありません</li>
      {% endfor %}
    <button type="submit" name="action" value="back">back</button>
  </form>
{% endblock %}