<!DOCTYPE html>
<html>
  <head>
  <title>Diary_app</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/home_page.css">
  </head>
  <body>
    <h1>日記</h1>
    <div class="ToDoList">
      <h2>振り返り</h2>
      <!-- labelがあることで当たり判定が文字に及ぶ -->
      <p id = "iToDoList"></p>
      <input type="button" value="add task" id="addTaskBtn">
    </div>
    <div class="DiaryTextBox">
      <h2>今日の日記</h2>
      <!-- colsが横の長さ、rowsが縦の長さ -->
      <textarea name="Diary" rows="10" cols="40"></textarea>
    </div>
    <input type="button" value="save" id="saveTodayData">

    <form action="/send" method="POST">
      <input type="text" name="task">
      <button type="submit">送信</button>
    </form>

    <script src="/static/home_page.js"></script>
  </body>
  </html>