{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Today's Diary{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('today.writeTodayDiary') }}">
      <p>{{date}}</p>
      <div id="task_style">
        <h2>振り返り</h2>
        {% for habit in habits %}
        <input type="checkbox" name="habit_ids" value="{{habit['id']}}" {% if habit['id'] in checked_habits %}checked{% endif %}>
        {{habit['habit_name']}}
        <br>
        {% else %}
        <p>No exit habits</p>
        {% endfor %}
        <br><a href="{{ url_for('habits.list')}}">編集</a>
      </div>
      <div>
        <label for="diary">
        <h2>今日の出来事</h2>
        </label>
        <textarea name="diary" id="diary"></textarea>
      </div>
      <input type="submit" value="regist">
    </form>
{% endblock %}